.nopadding
{
	padding: 0 !important;
}

.barra
{
	background: peru;
	height: 65px;
}

.show
{
	background: silver;
	height: 400px;
}

.specs
{
	background: green;
	height: 300px;
}

.lateral
{
	height: 700px;
	background: gray;
}

.contenido
{
	height: 700px;
	background: brown;
}

.imagen
{
	background:#F2F3F4  ;
	height:250px;
	margin: 10px 25px 10px 10px;
}

.contenido1
{
	background:#EBF5FB;
	height: 300px;
	margin: 25px 25px 10px 10px;
}
#ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



#li{float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;

}
#a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#li #a:hover {
    background-color: #111;
}